@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
* {
    font-family: 'Poppins', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@keyframes appear {
    from{
        opacity: 0;
        /* scale:0.5; */

    }
    to{
        opacity: 1;
        /* scale: 1; */
    }


}

.block{
    animation:appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}


@keyframes derecha {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.derecha {
    animation: derecha 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes izquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.izquierda{
    animation: izquierda 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes abajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.abajo {
    animation: abajo 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes arriba {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.arriba {
    animation: arriba 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
