@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: 'Poppins', sans-serif !important;
}

[x-cloak] {
    display: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.video-docker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1px; /* Crea la ilusión de profundidad */
  }
  
  .video-docker video {
    transform: translateZ(-1px) scale(2); /* Hace que el video se mueva más lento */
    object-fit: cover;
  }
  
  .video-content {
    position: relative;
    z-index: 10;
    transform: translateZ(0); /* Permite que el contenido se mantenga fijo mientras el video se mueve */
  }
  




.block {
    animation: appear 1s ease-in-out forwards;
}

/* Animaciones para los otros movimientos */
@keyframes derecha {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.derecha {
    animation: derecha 1s ease-in-out forwards;
}

@keyframes izquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.izquierda {
    animation: izquierda 1s ease-in-out forwards;
}

@keyframes abajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.abajo {
    animation: abajo 1s ease-in-out forwards;
}

@keyframes arriba {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.arriba {
    animation: arriba 1s ease-in-out forwards;
}
